<footer class="py-4">
  <div class="container footer-row">
    <div class="footer-item">
      <a href="index.html" class="site-brand">
        Trip<span>Boss</span>
      </a>
      <p class="text">"Welcome to TripBoss Travel, your ultimate resource for planning and booking unforgettable
        adventures around the world. Our user-friendly website features a powerful search engine that allows you to
        find the best flights, hotels, and activities to suit your needs and budget. Whether you're planning a romantic
        getaway, a family vacation, or a solo backpacking trip, we've got you covered.</p>
    </div>

    <div class="footer-item">
      <h2>Follow us on: </h2>
      <ul class="social-links">
        <li>
          <a href="https://www.facebook.com">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://in.pinterest.com">
            <i class="fab fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a href="https://myaccount.google.com">
            <i class="fab fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-item">
      <h2>Popular Places:</h2>
      <ul>
        <li><a href="#">Thailand</a></li>
        <li><a href="#">Australia</a></li>
        <li><a href="#">Maldives</a></li>
        <li><a href="#">Switzerland</a></li>
        <li><a href="#">Germany</a></li>
      </ul>
    </div>

    <div class="subscribe-form footer-item">
      <h2>Subscribe for Newsletter!</h2>
      <form class="flex">
        <input type="email" placeholder="Enter Email" class="form-control">
        <input type="submit" class="btn" value="Subscribe">
      </form>
    </div>
  </div>
</footer>